.DS_Store
/.build
/.swiftpm
/.devContainer
/Packages
xcuserdata/
/.vscode/*
!/.vscode/hummingbird.code-snippets
Package.resolved
node_modules
.env
AppPackages/Days/.build
PeakFit/Resources/Project.xcconfig
