<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>DIVIDER</key>
<string>// -----------------------------------------------------------</string>
	<key>FILEHEADER</key>
<string>
___DIVIDER___
// Copyright 2024 CCT Plus LLC
// Licensed under the Apache License, Version 2.0 (the "License");
// you may obtain a copy of the License at
//     http://www.apache.org/licenses/LICENSE-2.0
___DIVIDER___
// Project: ___PROJECTNAME___
// Created on ___DATE___
___DIVIDER___
//</string>
</dict>
</plist>
