on:
  workflow_dispatch
  push:
      branches:
        - main

permissions:
  contents: read

name: Release Drafter
jobs:
  update_release_draft:
    permissions:
      # write permission is required to create a github release
      contents: write
      # read permission is required to read a pr
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v6
        # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.DANGER_BOT }}